<div class="thebody">
    <!-- The top part -->
    <div class="header">
        <br>
        <div class="row align-items-center">
            <div class="col-sm-7">        
                <h3 style="font-size: 60px;font-weight: bold;">RCA</h3>
            </div>
            <div class="col-sm-2">        
                <!-- login space -->
                <div class="login-container">
                    <div id="usernameform" class="header">
                        <label for="usernamefield">Email or Username</label><br>
                        <input placeholder="Email or Username" type="mail" name="username" style="border: none; outline: none;"> <br>
                        <input type="checkbox" title="Keep-me-logged-in" />Keep me logged in <br>                        
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-2">
                <div id="passwordform" class="header">
                    <label for="passwordfield">Password</label>
                    <input placeholder="Password" type="password" name="password" style="border: none; outline: none;" /><br>
                    Forgot your password?
                </div>
            </div>
            <div class="col-sm-1">
                <input type="submit" class="submitlogin" value="login">
            </div>  
        </div>
        <br>
    </div>
    <!-- Middle Part -->
    <div class="middle">
        <div class="row align-items-center">
            <!-- left -->
            <div class="col-sm-6">
                <div class="text-container">
                    <h2>New User?</h2>
                </div>                
            </div>
            <!-- right -->
            <div class="col-sm-6">
                <div class="signup-conatiner">
                    <form method="POST" class="">
                        <div class="form-group">                            
                            <div class="row align-items-center">
                                <!-- First Name -->
                                <div class="col-sm-6">
                                    <label for="firstname-input">First Name</label>
                                    <input required type="text" class="form-control" [(ngModel)]="accountItem.firstname" id="firstname-input" name="firstname" placeholder="First-Name">
                                </div>
                                <!-- Surname -->
                                <div class="col-sm-6">
                                    <label for="surname-input">Surname</label>
                                    <input type="text" class="form-control" name="surname" [(ngModel)]="accountItem.surname" id="surname-input" placeholder="Surname">
                                </div>
                            </div>
                        </div>  
                        
                        
                        <div class="form-group">                            
                            <div class="row align-items-center">
                                <!-- Phone Number -->
                                <div class="col-sm-6">
                                    <label for="phoneno-input">Phone Number</label>
                                    <input required type="number" class="form-control" id="phoneno-input" placeholder="Mobile-Number" name="phoneno" [(ngModel)]="accountItem.phone" >
                                </div>
                                <!-- Email ID -->
                                <div class="col-sm-6">
                                    <label for="email-input">Email id</label>
                                    <input required type="email" class="form-control"  id="email-input" placeholder="Email-id" name="email" [(ngModel)]="accountItem.email">
                                </div>
                            </div>
                        </div>                         
                        
                        <div class="form-group">
                            <div class="row align-items-center">
                                <!-- Username -->
                                <div class="col-sm-12">
                                    <label for="username-input">Username</label>
                                     <input required type="text" class="form-control" id="username-input" placeholder="Username" name="username" [(ngModel)]="accountItem.username" >
                                    <span id="username-span"></span>
                                </div>
                            </div>
                          
                        </div>
                        <div class="form-group">
                            <div class="row align-items-center">
                                <!-- Password -->
                                <div class="col-sm-12">
                                <label for="password-input">Password</label>
                                 <input required type="text" class="form-control" id="password-input" placeholder="Password" name="password" [(ngModel)]="accountItem.password" >
                                 </div>
                            </div>     
                        </div>

                        <div class="form-group">
                            <div class="row align-items-center">
                                <!-- Retype Password -->
                                <div class="col-sm-12">
                                <label for="repassword-input">Retype-Password</label>
                                <input required type="text" class="form-control" id="repassword-input" placeholder="Retype-Password"  >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">                            
                            <div class="row align-items-center">
                                <!-- Date -->
                                <div class="col-sm-6">
                                    <label for="date-input" class="col-2 col-form-label">Date</label>
                                    <input required class="form-control" type="date" value="2011-08-19" id="date-input" name="dob" [(ngModel)]="accountItem.dob">
                                </div>
                                <!-- Gender -->
                                <div class="col-sm-6">
                                    <label for="gender-input">Gender</label>
                                    <select required id="gender-input" class="form-control" name="gender" [(ngModel)]="accountItem.gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>                            
                        </div>
                        
                        <div class="form-group">
                            <div class="row align-items-center">
                                <div class="col-sm-12">
                                    <br>
                                    <div class="d-grid gap-2 col-6 mx-auto">                                        
                                        <button class="btn btn-primary btn-lg btn-block" id="signup-btn" type="submit" (click)='addAccount()' style="width: 100%;">Sign Up</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </form>
                </div>

            </div>
        </div>
        
    </div>
</div>

