<div>
    <div class="top-nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" routerLink="">
                    <img src="assets/image/craftify.png" height="50" alt="" loading="lazy">
                </a>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0 head-tag">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="feed/all">NewsFeed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="marketplace">MarketPlace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="aboutus">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</div>